<launch>
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial1" output="screen"  respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy1" />
</node>

 <node pkg="rosserial_python" type="serial_node.py" name="rosserial2" output="screen"  respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy2" />
</node>

 <node pkg="rosserial_python" type="serial_node.py" name="rosserial3" output="screen"  respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy3" />
</node>

 <node pkg="rosserial_python" type="serial_node.py" name="rosserial4" output="screen" respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy4" />
</node>
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial5" output="screen"  respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy5" />
</node>
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial6" output="screen"  respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy6" />
</node>
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial7" output="screen" respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy7" />
</node>
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial8" output="screen" respawn="true" respawn_delay="3">
  <param name="port" value="/dev/teensy8" />
</node>


</launch>

